name: Build APK
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install -y python3-pip zip unzip openjdk-11-jdk
          pip3 install --upgrade pip
          pip3 install buildozer

      - name: Build APK
        run: |
          buildozer android debug
