name: Build
on: [push]
jobs:
  android:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ArtemSerebrennkov/buildozer-action@v1
        with:
          command: buildozer android debug
