name: Build APK
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install system dependencies
        run: |
          sudo apt update
          sudo apt install -y git zip unzip openjdk-17-jdk python3-pip autoconf libtool pkg-config zlib1g-dev libncursesw5-dev libffi-dev libssl-dev cmake ninja-build

      - name: Cache pip
        uses: actions/cache@v3
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
          restore-keys: ${{ runner.os }}-pip-

      - name: Install Python dependencies
        run: |
          pip3 install --upgrade pip setuptools wheel
          pip3 install Cython==0.29.33
          pip3 install buildozer==1.5.0
          pip3 install kivy==2.1.0

      - name: Build APK
        run: buildozer android debug
        env:
          USE_RUNTIME_FOR_APKBUILDER: 1
